
/* warning notes often appear on footer of article */
.note {}
.note__caption {
    color: #373737;
    font-style: normal;
    font-weight: bold;
}
.note__content--warning {
    color: #b22222;
}
.note__content--normal {
    color: #222;
}

img {
    display: block;
    width: 100%;
    height: auto;
}